<div class="d-flex flex-column justify-content-center align-items-center" >
  <%= image_tag "profile-pic.jpg", class: "img-thumbnail rounded-circle p-0 border-2 border-danger", style: "width: 3.7rem" %>
  <small class="story-username" style="max-width: 4.4rem; p-0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: sans-serif; font-size: 0.8rem;">chrisbrownnnnnnnnnnnnnnnnnnnnnn</small>
</div>
