<div class="d-flex flex-column justify-content-center align-items-center" >
  <%= image_tag "profile-pic.png", class: "img-thumbnail rounded-circle border-2 border-danger", style: "width: 3.8rem; padding: 2px" %>
  <small class="story-username" style="max-width: 4.5rem; p-0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: sans-serif; font-size: 12px;">chrisbrownnnnnnnnnnnnnnnnnnnnnn</small>
</div>
