<div class="container d-flex flex-column border-top border-top-1">
  <div class="d-flex justify-content-center align-items-center">
    <div class="w-content border-2 border-top border-dark ">
      <i class="fa-solid fa-table-cells py-3"></i>
      <small class="fw-bold">POSTS</small>
    </div>
  </div>
  <div class="row align-items-center border-0">
    <% user.posts.reverse_each do |post| %>
    <%= render 'users/posts_images', post: post %>
    <% end %>
  </div>
</div>
