<%= turbo_frame_tag "post#{post.id}comments" do %>
  <div>
    <% if post.comments.count > 0 %>
      <a href="#" data-bs-toggle="modal" data-bs-target="#post<%= post.id %>_commentsModal" style="text-decoration:none">
        <p class="text-muted px-2 pt-1 m-0" style="font-size: 14px">View all <%= pluralize(post.comments.count, "comments")%> </p>
      </a>
      <%= render 'posts/post_comments_modal', post: post %>
    <% end %>
    
  </div>
  <!-- Modal -->
<% end %>
<!--<script>
  document.getElementById("post<%#= post.id %>_images_modal").addEventListener("dblclick", function(){
    document.getElementById("post<%#= post.id %>actions-likeBtn").click();
  })
</script>-->
