<%= form_with url: comments_path, method: :post, data: {controller: "comments", action: "turbo:submit-end->comments#clear" } do |f| %>
  <div class="card-footer d-flex justify-content-between bg-white px-2 pt-0 pb-3 mb-3 rounded-0" style=" border-top: 0px; border-bottom: 1px solid gray">
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_area :comment_body, class: "w-100 pt-1", id: "comment-body",  placeholder: "Add a comment", data: {controller: "textarea-autogrow"}, :rows => 1 %>
    <%= f.submit "Post", class: "text-primary text-decoration-none fw-bold text-dark border-0", style: "background: none" %>
  </div>
<% end %>