// html {
//   height: 100vh;
// }

// body {
//   background-color: #fafafa;
//   height: 100%;
// }

// .home-sections {
//   height: 100%;
//   width: 80%;
// }

// .images-section,
// .login-section {
//   height: 95%;
//   width: 45%;
//   background-position-x: right;
//   background-position-y: center;
// }

// .images-section {
//   // background-image: url(home-phone-bg.jpg);
//   // background-size: contain;
//   // background-repeat: no-repeat;
//   // // max-width: 100vh;
//   // max-height: 100%;
// }

// ====================== Log In page ========================

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text {
  padding: 0.5rem;
  font-size: medium;
  margin: 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.unlawful-content {
  font-size: 0.8rem;
}

.facebook {
  max-width: 1rem;
  height: auto;
  margin-right: 0.5rem;
}

// ======================= Posts Page ==========================

.carousel .carousel-indicators button {
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

// .carousel-control-prev-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
// }

// .carousel-control-prev-icon {
//   background-image: url(https://img.freepik.com/free-vector/cute-bee-flying-cartoon-vector-icon-illustration-animal-nature-icon-concept-isolated-premium-vector_138676-6016.jpg?w=826&t=st=1705627381~exp=1705627981~hmac=2cfc87556b495ee65238e9148e71c20cf6ba4839c1c3f36e89a477d2bd35e96a);
// }

.carousel-control-next-icon {
  background-image: url("next-icon.png");
}
