// ======================= General ==========================

// html {
//   height: 3000px;
//   overflow: 0;
// }
// body {
//   height: 2000px;
// }

// .abcd {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   background-color: yellow;
//   padding: 50px;
//   font-size: 20px;
// }
// body {
//   background-color: #fafafa;
//   height: 100%;
// }

// .home-sections {
//   height: 100%;
//   width: 80%;
// }

// .images-section,
// .login-section {
//   height: 95%;
//   width: 45%;
//   background-position-x: right;
//   background-position-y: center;
// }

// .images-section {
//   // background-image: url(home-phone-bg.jpg);
//   // background-size: contain;
//   // background-repeat: no-repeat;
//   // // max-width: 100vh;
//   // max-height: 100%;
// }

// ==================== Mobile Navbar =======================

// ====================== Side Navbar ========================

#navbar-logo:hover,
#navbar-icon:hover,
#navbar-more-button:hover,
.nav-pills li a:hover {
  background-color: #f2f2f2;
}

// ====================== Log In page ========================

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text {
  padding: 0.5rem;
  font-size: medium;
  margin: 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.unlawful-content {
  font-size: 0.8rem;
}

.facebook {
  max-width: 1rem;
  height: auto;
  margin-right: 0.5rem;
}

// ======================= Posts Section ==========================

// .story-username {
//   // max-width: 3.5rem;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   font-size: 0.9rem;
//   font-family: "Times New Roman", Times, serif;
// }

// .stories::-webkit-scrollbar {
//   display: none;
// }

// .card {
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }

.carousel .carousel-indicators button {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.carousel-control-prev-icon {
  background-image: url("previous-icon.png");
}

.carousel-control-next-icon {
  background-image: url("next-icon.png");
}

.post-like-red-button {
  color: red;
}

// ====================  Suggestions Section ====================

// .suggestions-text {
//   color: aquamarine;
//   font-size: 34px;
// }

// ==================== Post Modal ==============================

.filepond--item {
  width: 90%;
  height: 100%;
}

.filepond--root {
  height: 100%;
  width: 100%;
}
