// ========================== General ==============================

p {
  margin-bottom: 0px;
}

// html {
//   height: 3000px;
//   overflow: 0;
// }
// body {
//   height: 2000px;
// }

// .abcd {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   background-color: yellow;
//   padding: 50px;
//   font-size: 20px;
// }
// body {
//   background-color: #fafafa;
//   height: 100%;
// }

// .home-sections {
//   height: 100%;
//   width: 80%;
// }

// .images-section,
// .login-section {
//   height: 95%;
//   width: 45%;
//   background-position-x: right;
//   background-position-y: center;
// }

// .images-section {
//   // background-image: url(home-phone-bg.jpg);
//   // background-size: contain;
//   // background-repeat: no-repeat;
//   // // max-width: 100vh;
//   // max-height: 100%;
// }

// ======================== Mobile Navbar =============================

// ========================= Side Navbar ==============================

#navbar-logo:hover,
#navbar-notifications-button:hover,
#navbar-icon:hover,
#navbar-more-button:hover,
.nav-pills li a:hover {
  background-color: #f2f2f2;
}

// ========================== Log In page ============================

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text {
  padding: 0.5rem;
  font-size: medium;
  margin: 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.unlawful-content {
  font-size: 0.8rem;
}

.facebook {
  max-width: 1rem;
  height: auto;
  margin-right: 0.5rem;
}

// ===================== Posts(Home) Section ========================

// .story-username {
//   // max-width: 3.5rem;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   font-size: 0.9rem;
//   font-family: "Times New Roman", Times, serif;
// }

// .stories::-webkit-scrollbar {
//   display: none;
// }

// .card {
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }

.carousel .carousel-indicators button {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.carousel-control-prev-icon {
  background-image: url("previous-icon.png");
}

.carousel-control-next-icon {
  background-image: url("next-icon.png");
}

.post-like-red-button {
  color: red;
}

#comment-body {
  // width: 100%;
  outline: none !important;
  border: none;
  font-size: 14px;
  resize: none;
}

// ------------------- Post Modal --------------------------

.filepond--item {
  width: 90%;
  height: 100%;
}

.filepond--root {
  height: 100%;
  width: 100%;
}

// ====================== Suggestions Section =======================

// .suggestions-text {
//   color: aquamarine;
//   font-size: 34px;
// }

// ========================  User Profile ============================

// -------------------- profile header ---------------------
.profile-message-btn,
.edit-profile-btn {
  background-color: rgb(239, 239, 239);
}

.profile-message-btn,
.edit-profile-btn:hover {
  background-color: rgb(219, 219, 219);
}

// -------------------- profile posts ---------------------
.profile-post-likes-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-shadow: 1px 1px 10px black;
}

.multiple-images {
  position: absolute;
  top: 7%;
  right: 3%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 10px black;
}

.profile-post:hover .profile-post-likes-count {
  visibility: visible;
}

.posts-img-thumbnail:hover {
  opacity: 80%;
}

#post-images:hover {
  background-color: black;
}

// =================== User Profile Edit page =========================

.profile-edit-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-left: solid black 3px;
  background-color: rgb(248, 248, 248);
}

.profile-edit-btn {
  background-color: rgb(248, 248, 248);
  color: black;
}
