<div class="d-flex justify-content-between">
  <div class="d-flex flex-row">
    <div>
      <%= image_tag "profile-pic.jpg", class: "img-thumbnail rounded-circle p-0 border", style: "width: 3.1rem" %>
    </div>
    <div class="m-auto ms-3">
      <p class="story-username" style="max-width: 12rem; margin-bottom: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font: 14px sans-serif; font-weight:bold">chrisbrownnnnnnnnnnnnnnnnnnnnnn</p>
      <p class="m-0 text-muted" style="font: 12px sans-serif; max-width: 12rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Instagram Recoooooooooooooooooooommended</p>
    </div>
  </div>
  <div>
    <%= link_to root_path, style:"text-decoration:none" do%>
      <small class="fw-bold text-primary ">Follow</small>
    <% end %>
  </div>
</div>
